<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="titulo text-center">TARJETA CRÉDITO</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4 justify-content-center">
        <div class="col-12 col-lg-6 d-flex flex-column align-items-center">
            <div class="card w-100 mb-2">
                <div class="card-body">
                    <h5 class="titulo text-center">AGREGAR TARJETA</h5>
                </div>
            </div>
            
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="titulo text-center">LISTADO DE TARJETAS</h5>
                    <table class="table">
                        <tbody>
                            @for (tarjeta of listTarjetas; track tarjeta.numero) {
                                <tr>
                                    <td>{{ tarjeta.titular }}</td>
                                    <td>{{ tarjeta.numero }}</td>
                                    <td>{{ tarjeta.fechadeexpiracion }}</td>
                                    <td>
                                        <i class="far fa-regular fa-pen-to-square text-info"></i>
                                    </td>
                                    <td>
                                        <i class="far fa-solid fa-trash text-danger"></i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>