body {
  background: #4A6388;
  background: -webkit-linear-gradient(to right, #4A6388, #283E51);
  background: linear-gradient(to right, #4A6388, #283E51);

}

.titulo {
  font-family: "Righteous", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

/* Código CSS para la animación de despliegue/plegado */
.table-container {
  max-height: 500px;
  /* Un valor lo suficientemente grande para contener la tabla */
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.table-container.collapsed {
  max-height: 0;
}